
<div class="container">

    <%  @cocktails.each do |c| %>
      <div class="card-product">
      <% if c.photo.attached? %>
        <%= cl_image_tag c.photo.key, height: 200, width: 200, crop: :fill %>
      <% else %>
        <%= cl_image_tag "https://picsum.photos/seed/picsum/200/200", height: 200, width: 200, crop: :fill %>
      <% end %>
      <div class="card-product-infos">
        <h2><%= link_to c.name,cocktail_path(c)%></h2>
        <p>Click for <strong>ingredients </strong></p>
      </div>
    <% end %>
  </div>

  <div class="card">
    <%= link_to 'New Cocktail', new_cocktail_path%>
  </div>
</div>
